<%= render 'shared/footer' %>
<div class="items-sell-contents">
  <div class= 'fishing-main'>
    <h2 class= 'fishing-info'>釣果情報入力</h2>
    <%= form_with model: @fishing, id: 'new_post', local: true do |f| %>
    <%#= render 'shared/error_messages', model: f.object %>
      <div class="fish-form">
        <div class="fishing-image">
          <div class="weight-bold-text">
            商品画像
            <span class="indispensable">必須</span>
          </div>
          <div class="click-upload">
            <%= f.file_field :image %>
            <div class="image-field">
                <div id="previews">
                </div>
            </div>
          </div>  
        </div>  

        <div class="fish-form-data">   
          <div class="weight-bold-text">
            魚の名前
            <span class="indispensable">必須</span>
          </div>
          <%= f.text_field :name, class:"fishing-box", placeholder:"例) メバル", id:"fishing-image" %>

          <div class="weight-bold-text">
            コメント
            <span class="indispensable">必須</span>
          </div>
          <%= f.text_area :memo, class:"fishing-box_memo", id:"item-name" %>




          <div class="weight-bold-text">
            釣れた日
            <span class="indispensable">必須</span>
          </div>
          <%= f.date_field :day, class:"fishing-box", id:"item-name" %>

          <div class="weight-bold-text">
            サイズ
            <span class="indispensable">必須</span>
          </div>
          <%= f.text_field :size, class:"fishing-box", placeholder:"数字のみ入力(単位はセンチ)", id:"item-info" %>

          <div class="weight-bold-text">
            釣れた数
            <span class="indispensable">必須</span>
          </div>
          <%= f.text_field :count, class:"fishing-box", placeholder:"数字のみ入力", id:"item-name" %>

          <div class="weight-bold-text">
            エリア
            <span class="indispensable">必須</span>
          </div>
          <%= f.collection_select(:field_id, Field.all, :id, :name, {}, {class:"fishing-box-area", id:"item-category"}) %>
          <div class="sell-btn-contents">
            <%= f.submit "変更する", class:"new-up-btn" %>
            <%=link_to 'やめる', fishing_path(@fishing), class:"back-btn" %>
          </div>
        </div>
      </div>
    <% end %>
  </div>
</div>




<%= render "shared/footer" %>