<%= render "shared/header" %>

<div class='main'>
  <div class='title-contents'>
    <h2 class='service-title'>
      ノーブランクアングラーズ
    </h2>
    <p class='service-explain'>
      〜ボウズになりたくないそんな貴方へ〜
    </p>
  </div>

  <div class='fishing-contents'>
    <div class="fishing-news" >
      新着釣果情報
    </div>
    <ul class="fishing-list">
    <% @fishings.each do |fishing| %>
      <li class='fish-list'>
        <%= link_to fishing_path(fishing) do %>
        <div class='fish-img-content'>
          <%= image_tag fishing.image, class: "fishing-img" if fishing.image.attached? %>
          <div class='fish-name-info'>
            <div class='item-name'>
              <div>
                <h3>  
                  <%= fishing.user.nickname %><br>
                  <%= fishing.day.strftime('%Y/%m/%d') %><br>
                  <%= fishing.name %><br>
                  <%= fishing.size %>センチ<br>
                  <%= fishing.count %>匹<br>
                  <%= fishing.field.name %>
                </h3>
              </div>
              <% if user_signed_in? %>
                <div class="favorite">
                  <td>
                    <% if current_user.already_favorited?(fishing) %>
                      <%= link_to fishing_favorites_path(fishing), class: "heart", method: :delete do %>
                        <i class="fas fa-heart"></i>
                      <% end %>
                    <% else %>
                      <%= link_to fishing_favorites_path(fishing), class: "heart", method: :post do %>
                        <i class="far fa-heart"></i>
                      <% end %>
                    <% end%>
                    <%= fishing.favorites.count %>
                  </td>
                </div>
              <% end %>
            </div> 
          </div>
        </div>
      <% end %>
      </li>
    <% end %>
    </ul>  
  </div>
</div>
<%= render "shared/footer" %>