<header class='top-page-header'>
  <div class='top-page-content'>
    <%= link_to image_tag("blank.png", class:"blank-icon"), "/" %>
  </div>
    <div class='nav'>
    <ul class='lists-right'>
    <% if user_signed_in? %>
      <li><%= link_to '投稿する', new_fishing_path, class: "new-post" %></li>
      <li><%= link_to 'ログアウト', destroy_user_session_path, method: :delete, class: "logout" %></li>
    <% else %>
      <li><%= link_to 'ログイン', user_session_path, class: "login" %></li>
      <li><%= link_to '新規登録', new_user_registration_path, class: "sign-up" %></li>
    <% end %>
    </ul>
  </div>
</header>
<div class="fish-show-main">
  <div class="show">
  </div>
</div>  
  <div class="fish-img-box">
    <div class="fish-show-img">
      <%= image_tag @fishing.image, class:"show-img" if @fishing.image.attached? %>
    </div>
    <div class="fish-show-content">
      <div class="show-info">
      <h2>釣果データ</h2>
      </div>
  
      <table class="detail-table">
        <tbody>
          <tr>
            <th class="detail-item">釣れた日</th>
            <td class="detail-value"><%= @fishing.day.strftime('%Y/%m/%d') %></td>
          </tr>
          <tr>
            <th class="detail-item">魚種</th>
            <td class="detail-value"><%= @fishing.name %></td>
          </tr>
          <tr>
            <th class="detail-item">サイズ</th>
            <td class="detail-value"><%= @fishing.size %>センチ</td>
          </tr>
          <tr>
            <th class="detail-item">匹数</th>
            <td class="detail-value"><%= @fishing.count %>匹</td>
          </tr>
          <tr>
            <th class="detail-item">エリア</th>
            <td class="detail-value"><%= @fishing.field.name %></td>
          </tr>
          <tr>
            <th class="detail-item">コメント</th>
            <td class="detail-value"><%= @fishing.memo %></td>
          </tr>
        </tbody>
      </table>

      <div class="fish-data-edit">
        <% if user_signed_in? && current_user.id == @fishing.user_id %>
            <%= link_to "編集", edit_fishing_path, class: :data_btn %>
            <%= link_to "削除", "/fishings/#{@fishing.id}", method: :delete, class: :data_btn %>
        <% end %>
        <% if user_signed_in? %>
          <div class="favorite-show">
             <td>
              <% if current_user.already_favorited?(@fishing) %>
                <%= link_to fishing_favorites_path(@fishing), class: "heart-show", method: :delete do %>
                  <i class="fas fa-heart"></i>
                <% end %>
              <% else %>
                <%= link_to fishing_favorites_path(@fishing), class: "heart-show", method: :post do %>
                  <i class="far fa-heart"></i>
                <% end %>
              <% end%>
              <%= @fishing.favorites.count %>
            </td>
           </div>
        <% end %>
      </div>
    </div>
  </div>
  <div class="show-user-data">
    <div class="comment-form">
      <% if user_signed_in? %>
        <span class="user__nickname"><%= @fishing.user.nickname %></span>さんにコメントをしみよう！
        <%= form_with model: [@fishing, @comment], id: "comment-form" do |f| %>
          <%= f.text_area :text , class: "comment-text"%>
          <%= f.submit "送信", class: "comment-submit" %>
        <% end %>
      <% else %>
        <div class="login-comment">
          <%= link_to "ログインしてコメントをする", new_user_registration_path, class: :login__btn__comment %>
        </div>
      <% end %>
    </div>
  </div>
  <div class="user-comment-box">
    <%#後でlink toを入れる%>
    <span class="users-comment">みんなのコメント</span>
    <div id="comments">
      <% @fishing.comments.each do |comment| %>
        <div class="comment">
          <p class="user-comment-info"><%= comment.user.nickname %>：<%= l comment.created_at %> </p>
          <p><%= comment.text%></p>
        </div>
      <% end %>
    </div>
 
  </div>
<%= render "shared/footer" %>
