<header class='top-page-header'>
  <div class='top-page-content'>
    <%= link_to image_tag("blank.png", class:"blank-icon"), "/" %>
  </div>
    <div class='nav'>
    <ul class='lists-right'>
    <% if user_signed_in? %>
      <%= link_to '投稿する', new_fishing_path, class: "new-post" %>
      <li><%= link_to 'ログアウト', destroy_user_session_path, method: :delete, class: "logout" %></li>
    <% else %>
      <li><%= link_to 'ログイン', "#", class: "login" %></li>
      <li><%= link_to '新規登録', "#", class: "sign-up" %></li>
    <% end %>
    </ul>
  </div>
</header>
<div class="fish-show-main">
  <div class="show">
  </div>
</div>  
  <div class="fish-img-box">
    <div class="fish-show-img">
      <%= image_tag @fishing.image, class:"show-img" if @fishing.image.attached? %>
    </div>
    <div class="fish-show-content">
      <div class="show-info">
      <h2>釣果データ</h2>
      </div>
  
      <table class="detail-table">
        <tbody>
          <tr>
            <th class="detail-item">釣れた日</th>
            <td class="detail-value"><%= @fishing.day %></td>
          </tr>
          <tr>
            <th class="detail-item">魚種</th>
            <td class="detail-value"><%= @fishing.name %></td>
          </tr>
          <tr>
            <th class="detail-item">サイズ</th>
            <td class="detail-value"><%= @fishing.size %>センチ</td>
          </tr>
          <tr>
            <th class="detail-item">匹数</th>
            <td class="detail-value"><%= @fishing.count %>匹</td>
          </tr>
          <tr>
            <th class="detail-item">エリア</th>
            <td class="detail-value"><%= @fishing.field.name %></td>
          </tr>
          <tr>
            <th class="detail-item">コメント</th>
            <td class="detail-value"><%= @fishing.memo %></td>
          </tr>
        </tbody>
      </table>

      <div class="fish-data-edit">
        <% if user_signed_in? && current_user.id == @fishing.user_id %>
            <%= link_to "編集", edit_fishing_path, class: :data_btn %>
            <%= link_to "削除", "/fishings/#{@fishing.id}", method: :delete, class: :data_btn %>
        <% end %>
        
      </div>
    </div>
  </div>
  <div class="show-user-data">
  </div>
  <div class="user-data-box">
    <%#後でlink toを入れる%>
    <%= @fishing.user.nickname %>さんの最近の釣果 
  </div>

